/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: inline-block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

fieldset {
  border: none;
}

body {
  background-color: #35654d;
  color: #f6f4f4;
  font-size: 16px;
}

#cashUI {
  font-size: 24px;
  padding: 10px 1em;
  width: fit-content;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 3em;
}


#dealerCards, #playerCards {
  position: relative;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 172px;
}


.playingCard {
  width: 112px;
  height: 172px;
  position: absolute;
  top: 0;
}

#playerUI {
  width: fit-content;
  margin: auto;
}

button {
  font-size: 12px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: none;
  box-shadow: none;
}

button:disabled {
  display: none;
}

button:hover {
  filter: brightness(150%);
}
#double {
  background-image: url("../img/double_grayscale.png");
  background-position: center;
  background-size: cover;
}

#stand {
  background-image: url("../img/stand_grayscale.png");
  background-position: center;
  background-size: cover;
}

#surrender {
  background-image: url("../img/surrender_grayscale.png");
  background-position: center;
  background-size: cover;
    
}

#hit {
  background-image: url("../img/hit_grayscale.png");
  background-position: center;
  background-size: cover;
    
}

#start {
  background-image: url("../img/play_grayscale.png");
  background-position: center;
  background-size: cover;
}

#insurance {
  background-image: url("../img/insurance_grayscale.png");
  background-position: center;
  background-size: cover;
}

#betSet {
  width: fit-content;
  margin: auto;
}

#chip1 {
  background-image: url("../img/chips/chip_1.svg");
  background-position: center;
  background-size: cover;
}
#chip5 {
  background-image: url("../img/chips/chip_5.svg");
  background-position: center;
  background-size: cover;
}
#chip25 {
  background-image: url("../img/chips/chip_25.svg");
  background-position: center;
  background-size: cover;
}
#chip50 {
  background-image: url("../img/chips/chip_50.svg");
  background-position: center;
  background-size: cover;
}
#chip100 {
  background-image: url("../img/chips/chip_100.svg");
  background-position: center;
  background-size: cover;
}
#chip500 {
  background-image: url("../img/chips/chip_500.svg");
  background-position: center;
  background-size: cover;
}
#chip1000 {
  background-image: url("../img/chips/chip_1k.svg");
  background-position: center;
  background-size: cover;
}

#chipStack {
  width: fit-content;
  margin: auto;
  padding: 70px;
}

.chips {
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

#infoScreen {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: #00000066; 
  }

  #infoText {
    font-size: 10em;
    margin-top: 20%; 
    text-align: center;
    width: 100%;
    position: fixed;
}



